@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
$body-bg: #f9f9f9;
$body-color: #666666;


$font-size-base: 1rem;

$text-muted: $gray-500;
$form-text-color:                       $gray-500;
$border-width: 1px;
$border-color: $gray-200;
$headings-color: $gray-500;
$card-border-color: $border-color;
$legend-font-size: 0.8rem;

$card-bg: transparent;
$card-cap-bg: transparent;